@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* VARIABLES */
    /*Colors*/
    --cream: #E2E0C7;
    --text-black: #030303;
    --text-white: #FFFFFF;
    --yellow: #FBD725;
    --blue-light: #90B7BF;
    --blue-dark: #67A1BC;
    --red: #9F2123;

    /*Shadows*/
    --card-shadow: 0px 16px 64px 0px rgba(0, 0, 0, 0.25);
    --card-blue-shadow: 0px 32px 50px 0px rgba(6, 63, 86, 0.5);
    --text-shadow: 0px 4px 8px rgba(6, 63, 86, 0.5);

    /*Font Sizes*/
    --f-base: 1rem;
    --f-u-1: 1.06rem;
    --f-u-2: 1.12rem;
    --f-u-3: 1.19rem;
    --f-u-4: 1.31rem;
    --f-u-5: 1.38rem;
    --f-u-6: 1.5rem;

    --f-d-1: 0.94rem;
    --f-d-2: 0.88rem;
    --f-d-3: 0.81rem;

    /* font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-dark);
    color: var(var(--text-black))
}

.main-content {
    flex: 1;
}

.main-header {
    background-color: var(--cream);
    border-radius: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 32px;
    margin: 32px;
    position: relative;

}

.nav-link {
    font-size: var(--f-u-6);
    font-weight: 800;
    text-decoration: none;
    color: var(--text-black);
    transition: border 0.3s ease-in-out;
}

.nav-link.active,
.nav-link:hover {
    border-bottom: 8px solid var(--text-black);
}

.desktop-nav {
    display: flex;
    gap: 32px;
}

.logo {
    position: absolute;
    left: 32px;
    top: 16px;
}
.footer-text{
    font-weight: 100;
    align-items: centre;
    display: flex;
    font-size: var(--f-d-3);
    justify-content: center;
}

.main-footer {
    padding-top: 80px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
 
    align-items: center;
    background-color: var(--blue-light);
 
        > p{
        font-weight: bold;
        padding-bottom: 100px;
    }
 
    background-image: url('/assets/footer_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
 
.footer {
    border-radius: 7px;
    padding: 20px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
 
    display: flex;
    gap: 20px;
 
    width: clamp(200px, 80vw, 1000px)
}
 
.links {
    > h3 {
        border-bottom: 2px solid var(--yellow);
        color: var(--yellow);
        padding: 5px;
    }
    > p {
        color: white;
        padding: 5px;
    }
}
 
.socials {
    > h3 {
        border-bottom: 2px solid var(--yellow);
        color: var(--yellow);
        padding: 5px;
    }
    > p {
        color: white;
        padding: 5px;
    }
}
 
.stay-in-touch {
    margin-left: auto;
   
    > h3 {
        border-bottom: 2px solid var(--yellow);
        color: var(--yellow);
        padding: 5px;
        text-align: center;
    }
    > p {
        color: white;
        padding: 5px;
        text-align: center;
    }
}
 
.newsletter {
    color: var(--yellow);
    font-weight: bold;
}
 
.form-footer {
  display: flex;
  gap: 10px;
}
 
.subscribe {
  font-weight: bold;
  margin-left: auto;
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 50px;
 
 
}
 
.email {
color: white;
 
    padding: 4px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0);
    flex: clamp(100px, 80vw, 350px);
 
    border: 2px solid var(--yellow);
    border-radius: 50px;
}
 
.email::placeholder {
    color: white;
}
 
.copyright {
    display: flex;
    justify-content: center;
    width: clamp(200px, 80vw, 1000px);
    border-radius: 7px;
 
    font-size: 12px;
    color: grey;
    padding: 5px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(15px);
}
 
@media (max-width: 800px) {
    .images {
        flex-direction: column;
    }
 
}

.clouds-section {
    background: #90B7BF;
    background: linear-gradient(0deg, rgba(144, 183, 191, 1) 0%, rgba(103, 161, 188, 1) 50%);
    position: relative;
    min-height:500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.cloud {
    position: absolute;
}

.cloud.left {
    top: 16px;
    left: 0;
}

.cloud.right {
    right: 0;
    top: 32px;
}

.cloud.small {
    left: 33%;
    top: 16px;
}