.hero-banner{
    background-image: url(../assets/Banner_image.png);
    height: 635px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:center;
    padding: 64px;
}

.hero-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:16px;
    padding:20px;
}

.hero-content > h1{
    color: var(--text-white);
    text-shadow: var(--text-shadow);
    font-size: clamp(30px, 4vw, 70px)
}
.hero-content  > a{
    color: var(--text-white);
    background-color: black;
    border-radius:32px;
    text-decoration:none;
    font-weight:800;
    padding:16px;
}
.home-testimonials{
    background-color:var(--yellow);
    padding:8px;
    border-bottom:1px solid black;

    display:flex;
    align-items:center;
    justify-content:center;
    gap: 8px;
}
.h-testimonial{
    display:flex;
    gap:8px;
    background-color: black;
    border: 1px solid var(--red);
    color:var(--text-white);
    padding-right:8px;
    align-items:center;
    
}
.t-rating{
    align-self:stretch;
    display:flex;
    align-items:center;
    background-color: var(--yellow);
    color: var(--red);
    font-weight: 800;
    padding-left:8px;
    padding-right:8px;
    border-top-right-radius:16px;
    border-bottom-right-radius:16px;
}
.t-author{
    padding-top:8px;
    padding-bottom:8px;
}
.t-text{
    padding-top: 8px;
    padding-bottom: 8px;
}

.home-section{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    >h1{
        text-decoration: underline;
    }
}
.home-sec-img1{
    background-color:#e7e7dd;
    border: 2px solid #e7e7dd;
    border-radius: 38px;
    > img{
        width: 100%;
    }
}
.home-sec-chin{
    height: 60px;
    justify-content:center;
    text-align:center;
    align-items:center;
    display:flex;
    background-color: #000;

    border-radius: 0 0 40px 40px;
    >p{
        color:white;
        
        font-size: 28px;

    }
}
.yellow{
    background-color: var(--yellow);
    border-radius: 0px 0px 200px 200px;
}
.cream-bg{
    background-color: var(--cream);
}
.blue{
    background-color: var(--blue-light);
    border-radius: 128px 128px 0px 0px;
}
.benefit-box{
    border:2px solid var(--text-black);
    border-radius: 8px;
    padding: 16px;
    display:flex;
    flex-direction:column;
    >h2{
        text-decoration: underline;
        font-weight:bold;
    }
}
.home-section-blue-imgs{
    grid-template-columns: 1fr 1fr 1fr;
    gap:16px;
    display:grid;
    width:90%;
}
.benefit-grid{
    grid-template-columns: 1fr 1fr;
    gap:16px;
    display:grid;
    width:90%;
    max-width:600px;
}
.benefit-box.wide{
    grid-column: span 2;
    border: 2px solid var(--text-black);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction:column;
    >h2{
        text-decoration: underline;
        font-weight: bold;
    }
}
.bullet{
    display:flex;
    border: 2px solid var(--text-black);
    border-radius: 50px, 15px, 15px, 50px;
    padding: 4px;
}
.bullet-nr{
    border-right: 2px solid var(--text-black);
    justify-content: center;
    width:20px;
    padding: 4px;
}
.bullet-text{
    padding: 4px;
    text-wrap: nowrap;
}
.benefit-box{
    border:2px solid var(--text-black);
    border-radius: 8px;
    padding: 16px;
    display:flex;
    flex-direction: column;
    >h2{
        text-decoration: underline;
        font-weight:bold;
    }
}
.home-section{
    display:flex;
    >h2{
        text-decoration: underline;
        font-weight: bold;
    }
}
.home-section-img{
    display: flex;
    gap: 64px;
    >h1{
        text-decoration: underline;
        font-weight: bold;
    }
}
.step-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    > img{
        width: 100%;
    }
}

.footer-text{
    font-weight: 100;
    align-items: centre;
    display: flex;
    font-size: var(--f-d-3);
    justify-content: center;
}

.main-footer {
    padding-top: 80px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
 
    align-items: center;
    background-color: var(--blue-light);
 
        > p{
        font-weight: bold;
        padding-bottom: 100px;
    }
 
    background-image: url(/PeblePals_class_project/assets/Banner_image.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
 
.footer {
    border-radius: 7px;
    padding: 20px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
 
    display: flex;
    gap: 20px;
 
    width: clamp(200px, 80vw, 1000px)
}
 
.links {
    > h3 {
        border-bottom: 2px solid var(--yellow);
        color: var(--yellow);
        padding: 5px;
    }
    > p {
        color: white;
        padding: 5px;
    }
}
 
.socials {
    > h3 {
        border-bottom: 2px solid var(--yellow);
        color: var(--yellow);
        padding: 5px;
    }
    > p {
        color: white;
        padding: 5px;
    }
}
 
.stay-in-touch {
    margin-left: auto;
   
    > h3 {
        border-bottom: 2px solid var(--yellow);
        color: var(--yellow);
        padding: 5px;
        text-align: center;
    }
    > p {
        color: white;
        padding: 5px;
        text-align: center;
    }
}
 
.newsletter {
    color: var(--yellow);
    font-weight: bold;
}
 
.form-footer {
  display: flex;
  gap: 10px;
}
 
.subscribe {
  font-weight: bold;
  margin-left: auto;
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 50px;
 
 
}
 
.email {
color: white;
 
    padding: 4px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0);
    flex: clamp(100px, 80vw, 350px);
 
    border: 2px solid var(--yellow);
    border-radius: 50px;
}
 
.email::placeholder {
    color: white;
}
 
.copyright {
    display: flex;
    justify-content: center;
    width: clamp(200px, 80vw, 1000px);
    border-radius: 7px;
 
    font-size: 12px;
    color: grey;
    padding: 5px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(15px);
}
 
@media (max-width: 800px) {
    .images {
        flex-direction: column;
    }
 
}